@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to SLW Garage!</h1>
</div>
<div class="welcome-text">
    <p>We are a setup shop that specializes in quality over quantity. Instead of offering setups for every car under the sun we try to offer the best setups available for the cars we support.</p>
    <p>To start browsing our setups you can have a look at the latest setups below or click the "Browse Setups" link in the navigation menu.</p>
</div>
