@model SetupShop.Models.Setup

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Setup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Current File</label>
                <p>@Model.FileName</p>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label">File</label>
                <input asp-for="FileUpload" type="file" class="form-control" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                <input asp-for="Car" class="form-control" />
                <span asp-validation-for="Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track" class="control-label"></label>
                <input asp-for="Track" class="form-control" />
                <span asp-validation-for="Track" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week" class="control-label"></label>
                <input asp-for="Week" class="form-control" />
                <span asp-validation-for="Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series" class="control-label"></label>
                <input asp-for="Series" class="form-control" />
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Current Image</label>
                <img src="/media/@Model.Image" width="200"/>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="ImageUpload" class="form-control" />
                <img id="imgpreview" class="pt-2" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
}
